
<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      
      <rosparam file="$(find mbot_navigation)/config/xmove/xcostmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find mbot_navigation)/config/xmove/xcostmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find mbot_navigation)/config/xmove/xlocal_costmap_params.yaml" command="load" />
      <rosparam file="$(find mbot_navigation)/config/xmove/xglobal_costmap_params.yaml" command="load" />
      <rosparam file="$(find mbot_navigation)/config/xmove/xmove_base_params.yaml" command="load" />
      <rosparam file="$(find mbot_navigation)/config/xmove/xglobal_planner_params.yaml" command="load" />
      <rosparam file="$(find mbot_navigation)/config/xmove/xdwa_local_planner_params.yaml" command="load" />

      <!-- Here we load our costmap conversion settings -->
      <!-- <rosparam file="$(find mbot_navigation)/config/xmove/xcostmap_converter_params.yaml" command="load" />  -->

      <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner" /> 
      <param name="planner_frequency" value="10.0" />
      <param name="planner_patience" value="10.0" />  -->

      <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
      <!-- <param name="controller_frequency" value="10.0" /> -->
      <!-- <param name="controller_patience" value="15.0" /> -->

  </node>
  
</launch>







