<launch>
    
    <node pkg="move_base" type="move_base" name="move_base1" output="screen">
    <param name="base_global_planner" value="nav/straightNav"/>
    <rosparam file="$(find nav)/src/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find nav)/src/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
   <rosparam file="$(find nav)/src/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/src/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/src/param/base_local_planner_params.yaml" command="load" />
  </node>
</launch> 