<launch>
    <!-- 设置地图的配置文件 -->
    <!-- <arg name="map" default="map.yaml" /> -->
    <!-- 运行地图服务器，并且加载设置的地图-->
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="/home/xyw/$(arg map)"/> -->
    <node name="map_server01" pkg="map_server" type="map_server" args="/home/zzl/slam_map/c-map12.02.1.yaml"/>
    <!-- 启动AMCL节点 -->
    <!-- <include file="$(find nav_demo)/launch/nav04_amcl.launch" /> -->


    
    <include file="/home/zzl/cartographer_ws/src/cartographer_ros/cartographer_ros/launch/my_backpack_2d_localization.launch" />
    <!-- 运行move_base节点 -->
    <include file="$(find nav_demo)/launch/nav05_path.launch" />

</launch>